body {
text-align: left;
margin: 0 auto;
font-family: Arial;
font-size: 12px;
color: #888;
background: #dadada;
}

a:hover{color: #999!important;}

.contBanner {
    display: block;
    margin: auto;
    padding: 0;
    position: relative;
    text-align: left;
    width: 600px;
}

.container{
display: block;
position: relative;
margin: 10px auto 10px auto;
width: 990px;
height: auto;
padding: 10px 10px 10px 10px;
background: #fff;
border-radius:10px;
}

.container header{
display: block;
float: left;
text-align: center;
margin: 0px;
width: 988px;
height: 67px;
padding: 0px 0px 0px 0px;
border-top: 5px solid #009fe3;
border-right: 1px solid #009fe3;
border-bottom: 5px solid #009fe3;
border-left: 1px solid #009fe3;
background: url(bkg_head.gif) repeat-x;
border-radius:10px;
}

.container header .logo a{
display: block;
margin: 3px auto;
width: 167px;
height: 64px;
overflow: hidden;
text-indent: -9000px;
background: url(hd_logo.png) no-repeat;

}

/*article*/

article{
display: block;
float: left;
position: relative;
width: 500px;
height: auto;
margin: 0px;
padding: 20px 245px 20px 245px;
background: #f6f6f6;
border-radius:10px;
}

article hgroup{
display: block;
float: left;
position: relative;
width: 500px;
height: auto;
margin: 0px;
padding: 0px 0px 0px 0px;
}

article hgroup h2{
display: block;
float: left;
position: relative;
width: 500px;
font-size:24px;
line-height: 32px;
color: #111;
margin: 0px 0px 20px 0px;
}
article hgroup h3{
display: block;
float: left;
position: relative;
width: 500px;
font-size:16px;
line-height: 14px;
color: #009fe3;
margin: 0px 0px 10px 0px;
}
article hgroup h4{
display: block;
float: left;
position: relative;
width: 500px;
font-size:12px;
line-height: 12px;
color: #111;
font-weight: normal;
margin: 0px 0px 10px 0px;
}

article hgroup h4 a{
font-size:12px;
line-height: 12px;
color: #0560a0;
font-weight: bold;
margin: 0px 0px 0px 0px;
}

article a.no{
font-size:12px;
line-height: 12px;
color: #d11725;
font-weight: bold;
margin: 0px 0px 0px 0px;
}
article a.ni{
font-size:12px;
line-height: 12px;
color: #0560a0;
font-weight: bold;
margin: 0px 0px 0px 0px;
}

/*foto*/

.imgProfile{
display: block;
float: left;
width: 500px;
margin: 15px 0px 0px 0px;
padding: 25px 0px 20px 0px;
border-top: 2px groove #fff;
}

.imgProfile .img{
display: block;
float: left;
width: 96px;
height: 96px;
margin: 0px 20px 12px 0px;
padding: 0px 0px 0px 0px;
border: 9px solid #dfdfdf;
background: #eee;
}

.imgProfile .img img{
width: 96px;
height: 96px;
background: #eee;
}
.imgProfile span{
display: block;
float: left;
width: 360px;
height: 26px;
margin: 0px 0px 12px 0px;
padding: 88px 0px 0px 0px;
font-size: 11px;
color: #676767;
}

/* btn */

.contBtn{
display: block;
float: left;
padding: 5px;
margin: 0px 20px 0px 0px;
border-radius: 6px;
box-shadow: inset 0px 1px 2px #aaa;
background: #cfd1db;
}



.contBtn button{
display: block;
float: left;
padding: 8px 8px 8px 8px;
margin: 0px 0px 0px 0px;
border: 0px;
border-radius: 4px;
padding: 8px 30px 8px 30px;
font-size: 14px;
text-transform: uppercase;
font-weight: bold;
color: #fff;
background: url(bkg_btn.png) repeat-x;
cursor: pointer;
}

.contBtn.ok button{
box-shadow: inset 0px 1px 2px #4aec5a;
text-shadow: 1px 1px 0px #085706;
background-position: 0px 0px;
}

.contBtn.no button{
box-shadow: inset 0px 1px 2px #f98989;
text-shadow: 1px 1px 0px #801212;
background-position: 0px -36px;
}

.contBtn.normal button{
box-shadow: inset 0px 1px 2px #83caf7;
text-shadow: 1px 1px 0px #236096;
background-position: 0px -108px;
}


.contBtn.ok button:hover,
.contBtn.no button:hover,
.contBtn.normal button:hover{
box-shadow: inset 0px 1px 2px #fff;
text-shadow: 1px 1px 0px #666;
background-position: 0px -72px;
}

.contBtn.ok button:hover{color: #35ba39;}
.contBtn.no button:hover{color: #b73030;}
.contBtn.normal button:hover{color: #3b9bdd;}

.imgProfile strong{
display: block;
float: left;
height: 28px;
padding:13px 0px 0px 0px;
margin: 0px 0px 0px 0px;
font-size: 14px;
color: #000;
}

ul.form .contBtn button{
padding: 8px 30px 8px 30px;
font-size: 14px;
}

/*form*/

ul.form{
display: block;
float: left;
width: 500px;
}
ul.form li{
display: block;
float: left;
position: relative;
width: 500px;
height: auto;
margin: 0px 0px 30px 0px;
}

ul.form li div{
display: block;
float: left;
width: auto;
position: relative;
margin: 0px 36px 0px 0px;
}
ul.form li.one div{width: 500px; margin: 0px 0px 0px 0px;}
ul.form li.two div{width: 232px; margin: 0px 36px 0px 0px;}
ul.form li.three div{width: 142px; margin: 0px 37px 0px 0px;}

ul.form li.two div.mini{width: 142px;}
ul.form li.two div.large{width: 322px;}


ul.form li div:last-child{
margin: 0px 0px 0px 0px;
}



ul.form li.info{
display: block;
float: left;
font-size: 14px;
font-weight: bold;
color: #939393;
}

ul.form li.info span{
display: block;
float: left;
color: #000;
}
ul.form li.info strong{
display: block;
float: right;
color: #939393;
}
ul.form li.info .checker{
display: block;
float: right!important;
}
ul.form li.info .radio{
display: block;
float: right!important;
}



/*form elements*/

ul.form li input{
display: block;
float: left;
width: 200px;
height: 40px;
padding: 0px 15px 0px 15px;
font-size: 14px!important;
font-weight: bold!important;
color: #494949!important;
border: 1px solid #dfdfdf;
border-radius: 6px!important;
background: #fff;
}

ul.form li input:hover,
ul.form li input:focus{
border: 1px solid #6ebeec!important;
box-shadow: 0px 0px 3px #6ebeec!important;
}

/* misure input */
ul.form li.one input{width: 468px;}
ul.form li.two input{width: 200px;}
ul.form li.three input{width: 110px;}


ul.form li div.selector span{width: 190px!important;}

/* misure select */

ul.form li.one div.selector {width: 483px!important;}
ul.form li.one div.selector span{width: 458px!important;}

ul.form li.two div.selector {width: 215px!important;}
ul.form li.two div.selector span {width: 190px!important;}

ul.form li.three div.selector {width: 125px!important;}
ul.form li.three div.selector span {width: 100px!important;}


/* special input */

ul.form li.two .large input {width: 290px!important;}
ul.form li.two .mini input {width: 110px!important;}


/* special select */

ul.form li.two .large div.selector {width: 305px!important;}
ul.form li.two .large div.selector span {width: 280px!important;}

ul.form li.two .mini div.selector {width: 125px!important;}
ul.form li.two .mini div.selector span {width: 100px!important;}


ul.form li .selector:hover{
border-radius: 6px;
box-shadow: 0px 0px 3px #6ebeec!important;
}


/*check*/

ul.form li.check div .checker{
float: left!important;
width: 30px;
}
ul.form li.check div .radio{
float: left!important;
width: 30px;
}
ul.form li.check div label{
float: right;
margin: 0px;
width: 470px;
}

ul.form li.check.one div label{width: 470px;}
ul.form li.check.two div label{width: 202px;}
ul.form li.check.three div label{width: 112px;}

ul.form li.check.two div.mini label{width: 112px;}
ul.form li.check.two div.large label{width: 292px;}

ul.form li.check.mix div label{
}

ul.form li.check.mix div.in label{
float: left;
width: 140px;
margin: 0px 0px 5px 0px;
}

ul.form li.three.check.mix div.in label{
float: left;
width: 140px;
}

ul.form li.two.check.mix div.in label{
float: left;
width: 230px;
}

ul.form li.check.mix div.ck{
margin: 28px 0px 0px 0px;
}

/*textarea*/

ul.form li textarea{
display: block;
float: left;
width: 468px;
min-width: 468px;
max-width: 468px;
height: 110px;
min-height: 110px;
max-height: 300px;
padding: 15px 15px 15px 15px;
font-size: 12px!important;
line-height: 14px;
font-weight: normal!important;
color: #494949!important;
font-family: Arial;
border: 1px solid #dfdfdf!important;
border-radius: 6px!important;
background: #fff!important;
}

/*labels*/

ul.form li label{
display: block;
float: left;
position: relative;
width: 500px;
margin: 0px 0px 5px 0px;
font-size: 14px;
color: #494949;
text-transform: normal;
font-weight: bold;
}
ul.form li label em{
display: block;
float: left;
width: auto;
margin: 0px 0px 0px 0px;
font-size: 11px;
font-style: normal;
text-transform: none;
font-weight: normal;
}

ul.form li.two div label{width: 232px;}
ul.form li.two div.mini label{width: 142px;}
ul.form li.two div.large label{width: 322px;}

ul.form li.three div label{width: 142px;}


/*special label */

ul.form li.one div label.inside {position: absolute; top: 13px; left: 15px;}
ul.form li.two div label.inside{position: absolute; top: 13px; left: 15px;}
ul.form li.three div label.inside{position: absolute; top: 13px; left: 15px;}


/*testi*/
ul.form li a.txtPop{
display: block;
float: left;
width: 500px;
font-size: 12px;
color: #0560a0;
font-weight: bold;
text-decoration: underline;
margin: 0px 0px 10px 0px;
}
ul.form li div.txtPop{
display: none;
}

ul.form li div.txtPop{
display: block;
position: absolute;
bottom: 22px;
left: -10px;
  z-index: 1000;
width: 480px;
height: 134px!important;
padding: 20px 20px 20px 20px;
margin: 0px 0px 0px 0px;
border: 1px solid #666;
border-radius: 4px;
color: #666;
box-shadow: 0px 0px 10px #555;
background: #fff;
}
ul.form li div.txtPop span{
display: block;
float: left;
width: 480px;
height: 134px!important;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
color: #666;
overflow: auto;
}

ul.form li div.txtPop a{
display: block;
position: absolute;
top: -10px;
left: -20px;
width: auto;
height: auto;
overflow: auto;
font-size: 10px;
padding: 5px 6px 5px 6px;
margin: 0px 0px 0px 0px;
border-radius: 4px;
border: 1px solid #aa0000;
color: #fff;
background: #dd0000;
}



ul.form li .txtInfo{
display: block;
float: left;
width: 500px!important;
font-size: 12px;
color: #494949;
font-weight:normal;
margin: 0px 0px 10px 0px!important;
}


/* error */
ul.form li .error input{
color: #d44d4d!important;
border: 1px solid #d44d4d!important;
background: #f9e4e4!important;
}
ul.form li .error input:hover,
ul.form li .error input:focus{
box-shadow: 0px 0px 3px #d86f6f!important;
}

ul.form li .error div.selector,
ul.form li .error div.selector {
background-position: 0 -370px; }

ul.form li .error div.selector span,
ul.form li .error div.selector span {
color: #d44d4d!important;
background-position: right -328px; }

ul.form li .error .selector:hover{
border-radius: 6px;
box-shadow: 0px 0px 3px #d86f6f!important;
}



ul.form li .error .checker span {
background-position: -85px -234px; }

ul.form li .error .checker span.checked {
background-position: -102px -234px; }

ul.form li .error .radio span {
background-position: -85px -234px; }

ul.form li .error .radio span.checked {
background-position: -102px -234px; }


/* login */

ul.form li.tip{
display: block;
float: left;
text-align: right;
width: 500px;
font-size: 12px;
color: #494949;
font-weight:normal;
margin: -20px 0px 0px 0px;
}
ul.form li.tip a{
font-size:12px;
line-height: 12px;
color: #0560a0;
font-weight: bold;
}


.boxRegistrazione{
display: block;
float: left;
width: 500px;
margin: 30px 0px 0px 0px;
padding: 20px 0px 0px 0px;
border-top: 2px groove #fff;
}
.boxRegistrazione h3{
display: block;
float: left;
width: 500px;
margin: 0px 0px 5px 0px;
padding: 0px 0px 0px 0px;
text-transform: uppercase;
color: #333;
font-size: 14px;
}
.boxRegistrazione h4{
display: block;
float: left;
width: 500px;
margin: 0px 0px 20px 0px;
padding: 0px 0px 0px 0px;
text-transform: normal;
font-weight: normal;
color: #333;
font-size: 14px;
}

/* FOOTER */
footer {
display: block;
float: left;
width: 978px;
border: 6px solid #dedede;
margin: 10px 0px 0px 0px;
background: #b8b7b7;
border-radius:10px;
}

footer .logo{
display: block;
float: left;
width: 178px;
height: 40px;
margin: 0px 0px 0px 0px;
overflow: hidden;
text-indent: -9000px;
background: url(hd_logo.png);
}

footer .credits{
display: block;
float: left;
text-align: left;
width: 950px;
height: 27px;
color: #fff;
font-size: 12px;
font-weight: bold;
border-left: 6px solid #dedede;
padding: 13px 0px 0px 15px;
margin: 0px 0px 0px 0px;
background: #b8b7b7;
}





/* errorrri */


.blockUI{
font-weight: bold!important;
font-size: 16px!important;
border-radius: 10px!important;
padding: 30px!important;
}

/*resp*/





/*#####################*/




@media (max-width: 1000px) {

.container{
display: block;
position: relative;
margin: 10px auto 10px auto;
width: 700px;
height: auto;
padding: 10px 10px 10px 10px;
background: #fff;
scale: 0.1;
}

.container header{
display: block;
float: left;
text-align: center;
margin: 0px;
width: 100%;
height: 67px;
padding: 0px 0px 0px 0px;
border-bottom: 10px solid #0560a0;
background: url(bkg_head.gif) repeat-x;
}

  /*article*/

article{
display: block;
position: relative;
width:500px;
height: auto;
padding: 20px 100px 20px 100px;
background: #f6f6f6;
}
footer {
display: block;
float: left;
margin: 10px 0 0;
width: 688px;
}

footer .credits{
display: block;
float: left;
text-align: left;
width: 489px;
height: 27px;
color: #fff;
font-size: 12px;
font-weight: bold;
border-left: 6px solid #dedede;
padding: 13px 0px 0px 15px;
margin: 0px 0px 0px 0px;
background: #b8b7b7;
}
}
  


@media screen and (max-width:640px) {


.container{
    display:inline;
 position: static;
margin: 0px;
width: 100%;
height: auto;
padding: 0px;
background: #fff;
    font-size: 200%!important;
}
   .container a.no,
 .container a.ni{
    display: block;
    float: left;
    margin: 30px 20px 0px 0px;
 font-size: 1em!important;
}
  
  
 article .imgProfile{
  width:100%;
  }
 article .imgProfile span{
width: 60%;
  font-size: 0.6em!important;
  }
.container header{
display: block;
float: left;
text-align: center;
margin: 0px;
width: 100%;
height: 67px;
padding: 0px 0px 0px 0px;
border-bottom: 10px solid #0560a0;
background: url(bkg_head.gif) repeat-x;
}

  /*article*/

  
  
  
article{
display: block;
position: relative;
width: 96%;
overflow: visible;
height: auto;
padding: 20px 2% 20px 2%;
   
background: #f6f6f6;
}
  
  
 article hgroup{
  width: 100%;
  font-size: 1em;
  }
 article hgroup h2{
  width: 100%;
  font-size: 1.2em;
}
   article hgroup h3,
   article hgroup h4,
     article hgroup h4 a{
  width: 100%;
  font-size: 0.7em;
}
 
  
  .boxRegistrazione,
    .boxRegistrazione h3,
    .boxRegistrazione h4
  {width: 100%;}
  
  
  ul.form{
width: 100%!important;
margin: 0px;
}

ul.form li{    
float:left!important;
width: 100%!important;
   height: auto!important;
margin: 0px;
}

  ul.form li.info{    
    
  float:left!important;
width: 98%!important;
   height: auto!important;
margin: 0px 0px 30px 0px;
  padding: 0px 1% 0px 1%;
  font-size: 1em;
}

  
ul.form li.one div{width: 100%; margin: 0px 0px 0px 0px;}
ul.form li.two div{width: 100%; margin: 0px 0px 0px 0px;}
ul.form li.three div{width: 100%; margin: 0px 0px 0px 0px;}

ul.form li.two div.mini{width: 100%;}
ul.form li.two div.large{width: 100%;}
  
ul.form li input{
width: 90%;
height: auto;
padding-left: 5%;
padding-right: 5%;
    padding-top: 4%;
padding-bottom: 4%;
margin: 0px 0px 20px 0px;
font-size: 0.7em!important;
}


/* misure input */
ul.form li.one input{width: 90%;}
ul.form li.two input{width: 90%;}
ul.form li.three input{width: 90%;}


ul.form li div.selector span{display: none!important;}
  ul.form li div.selector{background: transparent; padding: 0px; margin: 0px 0px -20px 0px;}
/* misure select */
  
div.selector select{
  opacity:1;
display: block;
    float:left!important;
width: 100%;
height: 55px!important;
padding-top: 15px;
margin: 0px 0px 20px 0px;
font-size: 1.4em!important;
padding-left: 5%;
padding-right: 5%;
    margin: 0px!important;

font-weight: bold!important;
color: #494949!important;
border: 1px solid #dfdfdf;
border-radius: 6px!important;
background: #fff!important;
}

div.selector{
    display:block!important;
    float:left!important;
    height: 11em!important;
    border: 0px;
   width: auto!important;
    overflow: visible;

}

ul.form li .selector select:hover,
ul.form li .selector select:focus{
border: 1px solid #6ebeec!important;
box-shadow: 0px 0px 3px #6ebeec!important;
}


ul.form li .selector:hover{
border-radius: 0px;
box-shadow: 0px 0px 0px #6ebeec!important;
}

  
div.selector span {display: none!important; }

  
  
  
  
ul.form li.one div.selector {width: 100%!important;}
ul.form li.one div.selector span{display: none!important;}

ul.form li.two div.selector {width: 100%!important; }
ul.form li.two div.selector span {display: none!important;}

ul.form li.three div.selector {width: 100%!important;}
ul.form li.three div.selector span {display: none!important;}


/* special input */

ul.form li.two .large input {width: 90%!important;}
ul.form li.two .mini input {width: 90%!important;}


/* special select */

ul.form li.two .large div.selector {width: 100%!important;}
ul.form li.two .large div.selector span {display: none!important;}

ul.form li.two .mini div.selector {width: 100%!important;}
ul.form li.two .mini div.selector span {display: none!important;}

/*check*/
ul.form li.check {
  
margin: 0px 0px 20px 0px;
}

ul.form li.check input{
 opacity: 0;
width: 30px!important;
height: 30px!important;

}

ul.form li.check .checker,
  ul.form li.check .radio{

  transform: scale(2);
-ms-transform: scale(2); /* IE 9 */
-webkit-transform: scale(2); /* Safari and Chrome */
-o-transform: scale(2); /* Opera */
-moz-transform: scale(2); /* Firefox */
margin: 0px 0px 20px 30px!important;
}

  ul.form li.check .checker span,
  ul.form li.check .radio span{

margin:5px 0px 0px 0px!important;
}
  
  
ul.form li.check div label{
width: 80%!important;font-size: 1em!important;
}

ul.form li.check.one div label{width: 80%;}
ul.form li.check.two div label{width: 80%;}
ul.form li.check.three div label{width: 80%;}

ul.form li.check.two div.mini label{width: 80%;}
ul.form li.check.two div.large label{width: 80%;}

ul.form li.check.mix div label{
}

ul.form li.check.mix div.in label{
float: left;
width: 80%;
margin: 0px 0px 5px 0px;
}

ul.form li.three.check.mix div.in label{
float: left;
width: 80%;
}

ul.form li.two.check.mix div.in label{
float: left;
width: 80%;
}

/*textarea*/

ul.form li textarea{
width: 90%;
min-width: 90%;
max-width: 90%;
}

/*labels*/

ul.form li label{
width: 80%;
}


ul.form li.two div label{width: 80%;}
ul.form li.two div.mini label{width: 80%;}
ul.form li.two div.large label{width: 80%;}
ul.form li.three div label{width: 80%;}


  ul.form li.one div label.inside {position: absolute; top: 20%; left: 5%; font-size: 0.8em;}
ul.form li.two div label.inside{position: absolute; top: 20%; left: 5%;font-size: 0.8em;}
ul.form li.three div label.inside{position: absolute; top: 20%; left: 5%;font-size: 0.8em;}

/*testi*/
  
ul.form li.tip a{
    display: block;
 float: right;
 margin: 20px 0px 20px 0px;
font-size:1.5em;

}  
  
ul.form li a.txtPop{
width: 100%;
font-size: 0.7em!important
}


ul.form li div.txtPop{
width: 80%!important;
left: 5%;
 bottom: auto;
 top: 20px;
    z-index: 1000;
height: auto!important;
    font-size: 1em!important
}
ul.form li div.txtPop span{
width: 100%!important;
height: auto!important;
     font-size: 0.6em!important

}




ul.form li .txtInfo{
width: 100%!important;
    font-size: 0.7em!important
}


.contBtn{
display: block;
float: left;
padding: 5px;
margin: 0px 20px 20px 0px;
border-radius: 6px;
box-shadow: inset 0px 1px 2px #aaa;
background: #cfd1db;
}



.contBtn button{
display: block;
float: left;
padding: 8px 8px 8px 8px;
margin: 0px 0px 0px 0px;
border: 0px;
border-radius: 4px;
padding: 8px 30px 8px 30px;
font-size: 1.6em!important;
text-transform: uppercase;
font-weight: bold;
color: #fff;
background: #801212;
cursor: pointer;
}
  
.contBtn.ok button{
box-shadow: inset 0px 1px 2px #4aec5a;
text-shadow: 1px 1px 0px #085706;
background: #085706;
}

.contBtn.no button{
box-shadow: inset 0px 1px 2px #f98989;
text-shadow: 1px 1px 0px #801212;
background: #801212;
}

.contBtn.normal button{
box-shadow: inset 0px 1px 2px #83caf7;
text-shadow: 1px 1px 0px #236096;
background: #236096;
}

  
footer {
display: block;
float: left;
margin: 10px 0 0;
width: 100%;
border: 0px;
 background:url(bkg_foot.png) 0px 0px repeat-x;
}
footer a.logo{
display: block;
float: left;
margin: 0px 0 0;
width: 100%;
border: 0px;
background-position: center center;   
background-repeat: no-repeat;
background-color: transparent;
}
 
footer .credits{
display: block;
width: 100%;
  text-align: center;
  border: 0px;
padding-left: 0px;
}
 }

















