article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body	{
	font: Arial, Helvetica, sans-serif;
	background-color:#fff;}
	
.solotesto, hr {display: none;}
.clear, .hr {clear: both;}
h1, h2, h3, h4, p, ul {margin: 0; padding: 0; list-style: none;}
hr {display: none;}
img {border: 0px;}
table, tr, td {border: 0px;}
a {outline: 0; text-decoration: none;}

.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


a {
-webkit-transition: all 100ms linear;
-moz-transition: all 100ms linear;
transition: all 100ms linear;
outline:	none;
}


::selection {
color: #fff;
background: #dd0000; /* Safari */
}
::-moz-selection {
color: #fff;
background: #dd0000; /* Firefox */
}

html, body, div, span,applet, object, iframe,h1, h2, h3, h4, h5, h6, p, 
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, 
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, 
dt, li, ol, ul, fieldset, form, label, legend	{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;}

html, body, div, span,applet, object, iframe,h1, h2, h3, h4, h5, h6,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, 
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, 
dt, li, ol, ul, fieldset, form, label, legend	{text-align: left;}

pre	{font-family: monospace;}
a img, a:link img, a:visited img	{border: 0;}
ol, ul {list-style: none;}
q:before, q:after, blockquote:before, blockquote:after	{content: "";}


