.title{
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.formNewUser {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 500px;
}

.formNewUser ul li.field{
    display: block;
    float: left;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
}

.formNewUser ul li.simple{
	width: 250px;
}

.formNewUser ul li.long{
	width: 500px;
}